html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85em;
  font-weight: 200;
    background: url(images/iphone13.jpg) no-repeat center center;
    background-color: #fbfbfd;
    background-position: top 200px left 130px;
}

h1 {
    color: black;
    text-align: center;
    position: relative;
    top: 100px;   
}
.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
    position: relative;
    top: 150px;
    left: 380px;
}